<configuration>
  <system.runtime.remoting>
    <application>
    
      <client url="http://ntech32:9000/Test">
        <wellknown type="RemoteObject,RemoteObject" url="http://ntech32:9000/Test" />
      </client>
      
      <channels>
        <channel ref="http" />
      </channels>
      
    </application>
  </system.runtime.remoting>
</configuration>

