<configuration>
  <system.runtime.remoting>
    <application name="RemoteObject">
      <service>
        <wellknown mode="Singleton" type="RemoteObject,RemoteObject" objectUri="Test" />
      </service>
      <channels>
        <channel ref="http" port="9000" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>

